*
!/.editorconfig
!/.gitattributes
!/.jshintrc
!/.gitignore
!/.yo-rc.json
!/composer.json
!/composer.lock
!/fractal.js
!/package.json
!/gulpfile.js

!/test
!/test/**

!/web
!/web/.htaccess
!/web/google*.html
!/web/robots.txt
!/web/favicon.ico

!/web/fileadmin
!/web/fileadmin/nueww/
!/web/fileadmin/nueww/bin/
!/web/fileadmin/nueww/bin/**
!/web/fileadmin/user_upload/
!/web/fileadmin/user_upload/placeholder/
!/web/fileadmin/user_upload/placeholder/**

!/web/typo3conf/CoolUriConf.xml
!/web/typo3conf/LocalConfiguration.php
!/web/typo3conf/PackageStates.php

.idea
